
<div class="container">
  <button type="button" *ngIf="login" (click)="logout()" >Logout</button>
  <button type="button" (click)="history()">History</button>
    <h2>Welcome {{customer.firstname}}</h2>
    <h2>Welcome to Bus Booking Portal</h2>
        <form  [formGroup]="bookingForm" (ngSubmit)="booking()" >
          <div>
            <div class="traveldetails">
            <label for="startpoint" >From: 
                <select  id="startpoint"  formControlName="startpoint">
                    <option value="0">Select one</option>
                    <option *ngFor="let city of newCity" value='{{city.cityname}}'> {{city.cityname}} </option>
                </select>
            </label>
            <br>
            <label for="endpoint">To: 
                <select  id="endpoint" formControlName="endpoint">
                    <option value="0">Select One</option>
                    <option *ngFor="let city of newCity" value='{{city.cityname}}'> {{city.cityname}} </option>
                </select>
            </label>
            <br>
            <label for="people">Number of people: 
                <select name="people" id="people" formControlName="people" (change)="onPeopleChange()">
                    <option value="0">Select one</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </label>
            <br>
        </div>

        <ng-container *ngIf="selectedPeople !== '0'">
          <!-- <ng-container formArrayName="persons"> -->
            <div *ngFor="let i of selectedPeople" class="personaldetails">
              <!-- [formArrayName] = "details" 
               <label>Customer {{a+1}}</label> -->
              <div >
                <label for="firstname" >First name: <input type="text" id="firstname"  formControlName="firstname"> </label>
                <br>
                <label for="lastname">Last name: <input type="text" formControlName="lastname" id="lastname'"> </label>
                <br>
                <label for="dob">Date of birth: <input type="date" formControlName="dob" id="dob" > </label>
                <br>
                <label for="email">Email: <input type="email" formControlName="email" id="email"> </label>
                <br>
                <label for="gender">Gender 
                  <select  id="gender" formControlName="gender">
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                  </select>
                </label>
                <br>
                <label for="contact_no" >Contact: <input type="number" formControlName="contact_no" id="contact_no"  minlength="10"> </label>
            </div>
        
    </div>
  <!-- </ng-container> -->
</ng-container>
        <button type="submit">Book</button>
      </div>
      </form>
        <button type="button" id="display" (click)="display()">Preview</button>
        
        
        
        <table *ngIf="showTable">
            <tr>
                <th>Passenger name</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Start-point</th>
                <th>End-point</th>
                <th>distance</th>
                <th>Fare</th>
                <th>Status</th>
            </tr>
            <tr *ngFor="let item of postedBook">
                <td> {{item.passengername}} </td>
                <td> {{item.gender}} </td>
                <td> {{item.age}} </td>
                <td> {{item.email}} </td>
                <td> {{item.contact}} </td>
                <td> {{item.startpoint}} </td>
                <td> {{item.endpoint}} </td>
                <td> {{item.distance}} </td>
                <td> {{item.fare}} </td>
                <td> {{item.status}} </td>
            </tr>
        </table>

        <table *ngIf="showTable1">
          <tr>
              <th>Passenger name</th>
              <th>Gender</th>
              <th>Age</th>
              <th>Email</th>
              <th>Contact</th>
              <th>Start-point</th>
              <th>End-point</th>
              <th>distance</th>
              <th>Fare</th>
              <th>Status</th>
          </tr>
          <tr *ngFor="let data of historyData">
              <td> {{data.passengername}} </td>
              <td> {{data.gender}} </td>
              <td> {{data.age}} </td>
              <td> {{data.email}} </td>
              <td> {{data.contact}} </td>
              <td> {{data.startpoint}} </td>
              <td> {{data.endpoint}} </td>
              <td> {{data.distance}} </td>
              <td> {{data.fare}} </td>
              <td> {{data.status}} </td>
          </tr>
      </table>
</div> 

