:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

/* .container {
  margin: 0 auto;
  background-color: #EEF5FF;
}

form label, input {
  margin: 10px;
}

button {
  margin-left: 25%;
} */


.container {
  width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  padding: 10px;
  background-color: #28a745; 
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #218838; 
}

input:focus,
input:hover,
button:focus,
button:hover {
  border: 1px solid #007bff; 
  outline: none;
}
